@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* background-image: url('./assets/bg-home.webp'); */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
* {
  font-family: 'Sarabun', sans-serif;
}
html {
  scroll-behavior: smooth;
}

.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #4c49ed, -20px 0 #4c49ed;
    background: #4c49ed;
  }
  33% {
    box-shadow: 20px 0 #4c49ed, -20px 0 #4c49ed;
    background: #4c49ed;
  }
  66% {
    box-shadow: 20px 0 #ffff, -20px 0 #ffff;
    background: #ffff;
  }
  100% {
    box-shadow: 20px 0 #ffff, -20px 0 #ffff;
    background: #ffff;
  }
}
